<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.SmoExtended.dll" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="Tulpep.NotificationWindow" version="1.1.25" targetFramework="net45" />
  <package id="Unofficial.Sql.Server.Management.Objects" version="17.4.1" targetFramework="net45" />
</packages>